<div class="card-div">
  <div class="card-head">
    Hi,
    <span *ngIf="!changeUserNameFlag">
      {{ Auth.presentUser.displayName }}
    </span>

    <input
      type="text"
      class="registration-user-name-input"
      placeholder="Your Name"
      [(ngModel)]="Auth.presentUser.displayName"
      *ngIf="changeUserNameFlag"
    />
    <a
      class="display-name-change-button"
      (click)="changeUserName()"
      *ngIf="!changeUserNameFlag"
      >change</a
    >
    <div class="exit-button" (click)="exit()">
      <mat-icon class="right-arrow-svg" svgIcon="exit"></mat-icon>
    </div>
  </div>
  <div
    class="registration-phone-div"
    [ngClass]="{
      'registration-phone-div-disabled': Auth.presentUser?.phoneNumber
    }"
  >
    <div class="resgistration-phone">
      <div class="registration-phone-input-div">
        <input
          class="registration-phone-input"
          type="text"
          placeholder="Enter Phone Number"
          [(ngModel)]="phoneNumber.number"
        />
        <div class="registration-phone-button" (click)="sendLoginCode()">
          <mat-icon class="right-arrow-svg" svgIcon="right-arrow"></mat-icon>
        </div>
      </div>
      <div
        class="registration-phone-verification-div"
        *ngIf="captachaverifyFlag && !Auth.presentUser?.phoneNumber"
      >
        <div class="registration-phone-verification-input-div">
          <input
            class="registration-phone-verification-input"
            placeholder="Enter Code"
            [(ngModel)]="verificationCode"
          />
          <div
            class="registration-phone-verification-button"
            (click)="verifyLoginCode()"
          >
            <mat-icon class="right-arrow-svg" svgIcon="right-arrow"></mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div
      class="registration-phone-recaptcha"
      [ngClass]="{
        'registration-phone-recaptcha-disabled': Auth.recaptchaUsed,
        'registration-phone-recaptcha-disabled-0': Auth.presentUser?.phoneNumber
      }"
    >
      <div id="recaptcha-container"></div>
    </div>
  </div>
  <div class="phone-verified" *ngIf="Auth.presentUser?.phoneNumber">
    Phone Number {{ Auth.presentUser?.phoneNumber }} Verified
  </div>

  <!-- registration form -->
  <div class="registration-form" *ngIf="Auth.presentUser?.phoneNumber">
    <br />
    <span class="registration-form-head"> Community</span>
    <div class="registration-form-info">
      <div class="registration-input-div">
        <div class="registration-input-lable"></div>
        <div class="registration-input">
          <select
            class="registration-form-input-select registration-form-input-select-community"
            [(ngModel)]="presentCommunity.communityName"
            (change)="communitySelected()"
          >
            <option *ngFor="let community of communities" [value]="community">{{
              community
            }}</option>
          </select>
        </div>
      </div>
      <div class="registration-input-div">
        <div class="registration-input-lable"></div>
      </div>
      <div class="registration-input-div">
        <div class="registration-input-lable"></div>
        <div class="registration-input" *ngIf="blocks[0]">
          <select
            class="registration-form-input-select"
            [(ngModel)]="presentCommunity.block"
            (change)="blockSelected()"
          >
            <option *ngFor="let block of blocks" [value]="block">{{
              block
            }}</option>
          </select>
        </div>
        <div class="registration-input" *ngIf="flats[0]">
          <select
            class="registration-form-input-select"
            [(ngModel)]="presentCommunity.flat"
          >
            <option *ngFor="let flat of flats" [value]="flat">{{
              flat
            }}</option>
          </select>
        </div>
      </div>
      <!-- <div class="registration-input-div">
        <div class="registration-input-lable"></div>
        <div class="registration-input">
          <input
            class="registration-form-input"
            [(ngModel)]="Auth.presentUser.displayName"
          />
        </div>
      </div> -->
      <div class="registration-input-div">
        <div class="registration-input-lable"></div>
        <div class="registration-input registration-input-radio-button">
          <input
            type="radio"
            name="gender"
            value="male"
            [(ngModel)]="Auth.presentUser.gender"
          />
          Male &nbsp;
          <input
            type="radio"
            name="gender"
            value="female"
            [(ngModel)]="Auth.presentUser.gender"
          />
          Female
        </div>
      </div>
      <!-- <div class="registration-input-div">
        <div class="registration-input-lable"></div>
        <div class="registration-input">
          <select
            class="registration-form-input-select"
            [(ngModel)]="presentCommunity.adults"
          >
            <option *ngFor="let count of counts" [value]="count">{{
              count
            }}</option>
          </select>
        </div>
      </div> -->
      <input
        (click)="Register()"
        *ngIf="presentCommunity.flat"
        class="registration-submit-button"
        type="button"
        value="Register"
      />
    </div>
  </div>
</div>
