.registration-page {
  height: 920px;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  background-image: url("/../../../assets/background/registrationbackground.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  .page-main-nav {
    width: 60%;
  }
  .page-right-nav {
    margin-left: 50px;
  }
}
