.card-div {
  color: #163a9a;
  height: 800px;
  width: 100%;
  background-color: white;
  border: solid 1px #163a9a;
  margin-left: 20px;
  border-radius: 25px;
  padding-top: 20px;
  padding-left: 20px;
  .card-head {
    font-size: 18px;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 30px;
  }
  .registration-phone-div {
    padding-top: 50px;
    padding-left: 25px;
    border-bottom: solid 1px #163a9a;
    .resgistration-phone {
      display: flex;
      .registration-phone-input-div {
        display: flex;
        padding-top: 20px;
        .registration-phone-input {
          padding-left: 5px;
          height: 26px;
        }
        .registration-phone-button {
          width: 32px;
          height: 32px;
          background-color: #163a9a;
          .right-arrow-svg {
            padding-top: 5px;
            padding-left: 5px;
            color: white;
          }
        }
      }
      .registration-phone-verification-div {
        padding-left: 20px;
        .registration-phone-verification-input-div {
          display: flex;
          padding-top: 20px;
          .registration-phone-verification-input {
            padding-left: 5px;
            height: 26px;
          }
          .registration-phone-verification-button {
            width: 32px;
            height: 32px;
            background-color: #163a9a;
            .right-arrow-svg {
              padding-top: 5px;
              padding-left: 5px;
              color: white;
            }
          }
        }
      }
    }
    .registration-phone-recaptcha {
      padding-top: 25px;
    }
  }
  .registration-phone-div-disabled {
    height: 0px;
    border-bottom: none;
    overflow: hidden;
    .registration-phone-input {
      padding-left: 5px;
      height: 30px !important;
      background-color: #333333;
      border: none;
      color: white !important;
    }
    // .registration-phone-button {
    //   width: 32px;
    //   height: 32px;
    //   background-color: grey !important;
    // }
  }
}
