.card-div {
  color: #163a9a;
  height: 400px;
  width: 300px;
  background-color: white;
  border: solid 1px #163a9a;
  margin-left: 20px;
  border-radius: 25px;
  padding-top: 20px;
  padding-left: 20px;
  .card-head {
    font-size: 18px;
    font-weight: 700;
  }
}
