.header {
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: rgb(255 ,255, 255, .1);
    height:60px;
    position: sticky;
    top:0;
    .header-head {
        display:flex;
       
    .title {
        display: flex;
    background: linear-gradient(to right,  #ff7300 0% , rgb(208, 48, 48) 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        font-size: 25px;
        font-weight: 700;
        padding-top:15px;
        .logo {
            width: 100px;
            height: 100%;
        }
        }

    }

.header-body-right {
    display:flex;
    padding-right:15%;
    text-align: right;
    color: rgb(208, 48, 48);
     
    }
    .header-body-left {
        display:flex;
        padding-left:15%;
        color: #ff7300;
         
        }
    .header-button{
        // background: linear-gradient(to right,  #ff7300 10% , rgb(208, 48, 48) 100%);
            font-size: 15px;
            font-weight: 700;
            padding-top:24px;
            width: 200px;
            cursor: pointer;
    }

      .header-button:hover {
        text-decoration: underline;
      }

}