.header {
    width: 100%;
    display:flex;
    background-color: rgb(255 ,255, 255, .1);
    // border-bottom:solid 1px #ec7709b9;

    height:60px;
    position: fixed;
    top:0;
    .logo {
        width: 100px;
        height: 100%;
    }
    .title {
        // background: linear-gradient(to right, #fc4a1a, #f7b733);
       // color:linear-gradient(to right, #fc4a1a, #f7b733);
    //    color: #ffac40;
    background: linear-gradient(to right,  #674e08 0% , rgb(208, 48, 48) 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        font-size: 25px;
        font-weight: 700;
        padding-top:15px;
        }

}