
<div class="first-half">
    <div class="logo">    </div>
    <div class="details-body">
        <div class="page-login">
            <div class="google-login">Login with Google</div>
            <div class="phone-div">
              <div class="phone-input-div"> <input class="phone-input" type="text" placeholder="Enter Number"> 
              <div>
                <button class="phone-input-button">s</button>
              </div>
            </div>
        </div>
        </div>
        <div class="page-community"></div>
    </div>
</div>
<app-header> </app-header>
<div class="second-half">
    
</div>
