.first-half {
    background: url(./../../assets/sns3.jpg);

    background-repeat: no-repeat;
    background-size: cover;
// background-color: #333333;
height: 800px;
width:100%;
}
.second-half {
height: 1800px;
width:100%;
}