<div class="page">
  <div class="left-nav-card-div">
    <div class="left-nav-card">
      <div class="head">
        <div class="head-name">Hi, {{ Auth.presentUser.displayName }}</div>
      </div>
    </div>
  </div>
  <div class="main-card-div">
    <div class="main-card">
      <app-previous-order-details-card></app-previous-order-details-card>
      <app-previous-order-details-card></app-previous-order-details-card>
      <app-previous-order-details-card></app-previous-order-details-card>
    </div>
  </div>
  <div class="right-nav-card-div"><div class="right-nav-card"></div></div>
</div>
